default:
  image: ${HARBOR_HOST}/build/rocky9:base
  tags:
    - luxmsbi-build

variables:
  BI_REPO: "thirdparty"
  FF_ENABLE_JOB_CLEANUP: "true"

stages:
  - build
  - deploy

include:
  # trivy-scan
  - project: 'devops/gitlab-ci'
    ref: master
    file:
      - 'ci/include/trivy-scan.yml'
#  # need var BI_REPO
#  # stage: deploy
#  - project: 'devops/gitlab-ci'
#    ref: master
#    file: 'ci/include/upload-to-devrepo.yml'
#    rules:
#      - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH || $CI_COMMIT_TAG =~ /^v\d+.\d+.\d+/'

.check-rpm:
  script:
    - echo "======= Check RPM ========"
      && rpm -qlpv --scripts --requires *.rpm
      && rpm -qipv *.rpm
      && DISTTAG=$(rpm -qp *.rpm --qf %{disttag})
      && DISTRIBUTION=$(rpm -qp *.rpm --qf %{distribution})
      && echo "DISTTAG/DISTRIBUTION   ${DISTTAG} | ${DISTRIBUTION}"

defVersion:
  stage: .pre
  script:
    - VERSION="$(git describe --tags --match v[0-9]*.[0-9]*.[0-9]* --abbrev=0 2>/dev/null|cut -dv -f2)" || true
    - test -z "${VERSION}" && VERSION=$(cat VERSION)
    - echo "VERSION=${VERSION}" > variables.env
    - cat variables.env
  artifacts:
    reports:
      dotenv: variables.env

buildRpm:
  stage: build
  image: ${HARBOR_HOST}/build/${OS_VER}:rpmBuild
  before_script:
    - |
      case "${OS_VER}" in
        "redos7") dnf config-manager --add-repo https://katello.spb.luxms.com/pulp/content/Luxms/Library/custom/postgrespro-std/pgpro${PG_VERSION}-redos7_3/
                  dnf config-manager --add-repo https://katello.spb.luxms.com/pulp/content/Luxms/Library/custom/postgrespro-ent/pgpro${PG_VERSION}-redos7/
                  rpm --import https://repo.postgrespro.ru/keys/GPG-KEY-POSTGRESPRO;;
        "redos8") dnf config-manager --add-repo https://katello.spb.luxms.com/pulp/content/Luxms/Library/custom/postgrespro-std/pgpro${PG_VERSION}-redos8/
                  dnf config-manager --add-repo https://katello.spb.luxms.com/pulp/content/Luxms/Library/custom/postgrespro-ent/pgpro${PG_VERSION}-redos8/
                  rpm --import https://repo.postgrespro.ru/keys/GPG-KEY-POSTGRESPRO;;
        "rocky8") dnf -y module enable postgresql:${PG_VERSION};;
        "rocky9") dnf -y module enable postgresql:${PG_VERSION};;
      esac
    - curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
    - source $HOME/.cargo/env
    - !reference [ .gen-trivy-scan-script, script ]
  script:
    - dnf builddep -y ./${CI_PROJECT_NAME}.spec -D "version ${VERSION}" -D "pg_ver ${PG_VERSION}"
    - spectool -g -C $(pwd) ./${CI_PROJECT_NAME}.spec -d "version ${VERSION}" -d "pg_ver ${PG_VERSION}"
    - rpmbuild -bb ./${CI_PROJECT_NAME}.spec
      --define "_topdir $(pwd)"
      --define "_sourcedir $(pwd)"
      --define "pg_ver ${PG_VERSION}"
      --define "version ${VERSION}"
    - mv ./RPMS/x86_64/*.rpm ${CI_PROJECT_DIR}/
    - echo "${GPG_KEY}" | gpg --import --batch
    - rpm --resign *.rpm
    - !reference [.check-rpm, script]
  artifacts:
    name: pg-nats
    paths:
      - "*.rpm"
      - "TRIVY-*.html"
    reports:
      junit:
        - "TRIVY-*.xml"
  parallel:
    matrix:
      - OS_VER:
          - "rocky9"
          #- "rocky8"
          #- "redos7"
          #- "redos8"
        PG_VERSION:
          - "15"
      #- OS_VER:
      #    - "rocky8"
      #    - "redos7"
      #  PG_VERSION:
      #    - "13"

.buildALSE:
  stage: build
  image: ${HARBOR_HOST}/build/alse${ALSE_VER}:debBuild
  variables:
    TRIVY_SFX: alse-${ALSE_VER}
    DEB_BUILD_OPTIONS: "noautodbgsym"
    REVISION: 1
  before_script:
    - ln -s pkgBuild/debian${ALSE_VER} debian
    - if [[ ${ALSE_VER} == "1.7" ]];
      then
        echo "deb [ trusted=yes ] https://katello.spb.luxms.com/pulp/content/Luxms/Library/custom/postgrespro-std/pgpro13-alse1_7 ${ALSE_VER}_x86-64 main" >> /etc/apt/sources.list.d/pgdg.list;
        echo "deb [ trusted=yes ] https://katello.spb.luxms.com/pulp/content/Luxms/Library/custom/postgrespro-ent/pgpro13-alse1_7 ${ALSE_VER}_x86-64 main" >> /etc/apt/sources.list.d/pgdg.list;
        echo "deb [ trusted=yes ] https://katello.spb.luxms.com/pulp/content/Luxms/Library/custom/postgres/alse1_7-pgdg-13 buster-pgdg main" >> /etc/apt/sources.list.d/pgdg.list;
        echo "deb [ trusted=yes ] https://katello.spb.luxms.com/pulp/content/Luxms/Library/custom/postgrespro-std/pgpro15-alse1_7 ${ALSE_VER}_x86-64 main" >> /etc/apt/sources.list.d/pgdg.list;
        echo "deb [ trusted=yes ] https://katello.spb.luxms.com/pulp/content/Luxms/Library/custom/postgrespro-ent/pgpro15-alse1_7 ${ALSE_VER}_x86-64 main" >> /etc/apt/sources.list.d/pgdg.list;
        echo "deb [ trusted=yes ] https://katello.spb.luxms.com/pulp/content/Luxms/Library/custom/postgres/alse1_7-pgdg-15 buster-pgdg main" >> /etc/apt/sources.list.d/pgdg.list;
      else
        echo "deb [ trusted=yes ] https://katello.spb.luxms.com/pulp/content/Luxms/Library/custom/postgrespro-std/pgpro15-alse1_8 ${ALSE_VER}_x86-64 main" >> /etc/apt/sources.list.d/pgdg.list;
        echo "deb [ trusted=yes ] https://katello.spb.luxms.com/pulp/content/Luxms/Library/custom/postgrespro-ent/pgpro15-alse1_8 ${ALSE_VER}_x86-64 main" >> /etc/apt/sources.list.d/pgdg.list;
      fi
    - apt update
    - echo yes | mk-build-deps -ri -t "apt -o=Debug::pkgProblemResolver=yes --no-install-recommends --no-install-suggests"
    - curl --proto '=https' --tlsv1.3 -sSf https://sh.rustup.rs | sh -s -- -y
    - echo "${GPG_ALSE}" | gpg --batch --import
    - echo "${GPG_ALSE_PASS}">GPG_PASS
    - !reference [ .gen-trivy-scan-script, script ]
  script:
    - dch -m -v "${VERSION}-${REVISION}~alse${ALSE_VER}" "All latest updates"
    - debuild -eVERSION -eCI -us -uc -b
    - mv ../pg*.deb ./
    - echo "========================= Check DEB ========================="
      && for pkg in pg*.deb; do dpkg -I $pkg; dpkg -c $pkg; done
  artifacts:
    name: pgsql-nats
    paths:
      - pg*.deb
      - TRIVY-*.html
    reports:
      junit:
        - TRIVY-*.xml
  parallel:
    matrix:
      - ALSE_VER:
          - '1.7'
          - '1.8'

.buildAlt10:
  stage: build
  image: ${HARBOR_HOST}/build/alt10:rpmBuild
  before_script:
    - echo "rpm http://repo.postgrespro.ru/std/std-15/altlinux/10 x86_64 pgpro" > /etc/apt/sources.list.d/pgdg.list
    - apt-get update
    - grep BuildRequires ./${CI_PROJECT_NAME}-alt.spec | awk -F':' '{print $2}' |sed 's/%{pg_ver}/15/g' | xargs apt-get -y install
    - curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
    - source $HOME/.cargo/env
    - !reference [ .gen-trivy-scan-script, script ]
  script:
    - spectool -g -C $(pwd) ./${CI_PROJECT_NAME}-alt.spec -d "version ${VERSION}" -d "pg_ver 15"
    - rpmbuild -bb ./${CI_PROJECT_NAME}-alt.spec
      --define "_topdir $(pwd)"
      --define "_sourcedir $(pwd)"
      --define "pg_ver 15"
      --define "version ${VERSION}"
    - mv ./RPMS/x86_64/*.rpm ${CI_PROJECT_DIR}/
    - echo "${GPG_KEY}" | gpg --import --batch
    - rpm --resign *.rpm
    - !reference [.check-rpm, script]
  artifacts:
    name: pg-nats
    paths:
      - "*.rpm"
      - "TRIVY-*.html"
    reports:
      junit:
        - "TRIVY-*.xml"

.buildRpmMosOS:
  stage: build
  image: ${HARBOR_HOST}/build/mosos:rpmBuild
  variables:
    PG_VERSION: "15"
  before_script:
    - zypper ar -G https://katello.spb.luxms.com/pulp/content/Luxms/Library/custom/mosos15/pgsql15/ pgsql
    - curl --proto '=https' --tlsv1.3 -sSf https://sh.rustup.rs | sh -s -- -y
    - source $HOME/.cargo/env
    - !reference [ .gen-trivy-scan-script, script ]
  script:
    - zypper install -y $(rpmspec -q --buildrequires ./${CI_PROJECT_NAME}-mosos.spec -D "version ${VERSION}" -D "pg_ver ${PG_VERSION}")
    - spectool -g -C $(pwd) ./${CI_PROJECT_NAME}-mosos.spec -d "version ${VERSION}" -d "pg_ver ${PG_VERSION}"
    - rpmbuild -bb ./${CI_PROJECT_NAME}-mosos.spec
      --define "_topdir $(pwd)"
      --define "_sourcedir $(pwd)"
      --define "pg_ver ${PG_VERSION}"
      --define "version ${VERSION}"
    - mv ./RPMS/x86_64/*.rpm ${CI_PROJECT_DIR}/
    - echo "${GPG_KEY}" | gpg --import --batch
    - rpm --resign *.rpm
    - !reference [.check-rpm, script]
  artifacts:
    name: pg-http-rpm
    paths:
      - "*.rpm"
      - "TRIVY-*.html"
    reports:
      junit:
        - "TRIVY-*.xml"

deployToStand:
  stage: deploy
  variables:
    HOST1: pgnats-cluster-pg01.spb.luxms.com
    HOST2: pgnats-cluster-pg02.spb.luxms.com
    PKG_DEPLOY: pgsql15-nats-${VERSION}-1.el9.x86_64.rpm
  before_script:
    - eval $(ssh-agent -s)
    - echo "${SSH_RUNNER_KEY}" | tr -d '\r' | ssh-add -
    - ssh-keyscan -t ecdsa ${HOST1}  >> ~/.ssh/known_hosts
    - ssh-keyscan -t ecdsa ${HOST2}  >> ~/.ssh/known_hosts
  script:
    - LEADER=`ssh root@${HOST1} "patronictl -c /etc/patroni/patroni.yml list | grep Leader" | awk '{print $2}'`
    - REPLICA=`ssh root@${HOST2} "patronictl -c /etc/patroni/patroni.yml list | grep Replica" | awk '{print $2}'`
    - scp ${PKG_DEPLOY} root@${HOST1}:/root/
    - scp ${PKG_DEPLOY} root@${HOST2}:/root/
    - ssh root@${REPLICA} "dnf -y install /root/${PKG_DEPLOY} && rm -f /root/${PKG_DEPLOY} && patronictl -c /etc/patroni/patroni.yml restart pgnats-cluster ${REPLICA} --force"
    - ssh root@${LEADER} "dnf -y install /root/${PKG_DEPLOY} && rm -f /root/${PKG_DEPLOY} && patronictl -c /etc/patroni/patroni.yml restart pgnats-cluster ${LEADER} --force"