default:
  image: ${HARBOR_HOST}/build/rocky9:base
  tags:
    - luxmsbi-build

variables:
  BI_REPO: "thirdparty"
  FF_ENABLE_JOB_CLEANUP: "true"

stages:
  - build

include:
  # trivy-scan
  - project: 'devops/gitlab-ci'
    ref: master
    file:
      - 'ci/include/trivy-scan.yml'
#  # need var BI_REPO
#  # stage: deploy
#  - project: 'devops/gitlab-ci'
#    ref: master
#    file: 'ci/include/upload-to-devrepo.yml'
#    rules:
#      - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH || $CI_COMMIT_TAG =~ /^v\d+.\d+.\d+/'

.check-rpm:
  script:
    - echo "======= Check RPM ========"
      && rpm -qlpv --scripts --requires *.rpm
      && rpm -qipv *.rpm
      && DISTTAG=$(rpm -qp *.rpm --qf %{disttag})
      && DISTRIBUTION=$(rpm -qp *.rpm --qf %{distribution})
      && echo "DISTTAG/DISTRIBUTION   ${DISTTAG} | ${DISTRIBUTION}"

defVersion:
  stage: .pre
  script:
    - VERSION="$(git describe --tags --match v[0-9]*.[0-9]*.[0-9]* --abbrev=0 2>/dev/null|cut -dv -f2)" || true
    - test -z "${VERSION}" && VERSION=$(cat VERSION)
    - echo "VERSION=${VERSION}" > variables.env
    - cat variables.env
  artifacts:
    reports:
      dotenv: variables.env

buildRpm:
  stage: build
  image: ${HARBOR_HOST}/build/${OS_VER}:rpmBuild
  before_script:
    - |
      case "${OS_VER}" in
        "redos7") dnf config-manager --add-repo https://katello.spb.luxms.com/pulp/content/Luxms/Library/custom/postgrespro-std/pgpro${PG_VERSION}-redos7_3/
                  dnf config-manager --add-repo https://katello.spb.luxms.com/pulp/content/Luxms/Library/custom/postgrespro-ent/pgpro${PG_VERSION}-redos7/
                  rpm --import https://repo.postgrespro.ru/keys/GPG-KEY-POSTGRESPRO;;
        "redos8") dnf config-manager --add-repo https://katello.spb.luxms.com/pulp/content/Luxms/Library/custom/postgrespro-std/pgpro${PG_VERSION}-redos8/
                  dnf config-manager --add-repo https://katello.spb.luxms.com/pulp/content/Luxms/Library/custom/postgrespro-ent/pgpro${PG_VERSION}-redos8/
                  rpm --import https://repo.postgrespro.ru/keys/GPG-KEY-POSTGRESPRO;;
        "rocky8") dnf -y module enable postgresql:${PG_VERSION};;
        "rocky9") dnf -y module enable postgresql:${PG_VERSION};;
      esac
    - curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
    - source $HOME/.cargo/env
    - !reference [ .gen-trivy-scan-script, script ]
  script:
    - dnf builddep -y ./${CI_PROJECT_NAME}.spec -D "version ${VERSION}" -D "pg_ver ${PG_VERSION}"
    - spectool -g -C $(pwd) ./${CI_PROJECT_NAME}.spec -d "version ${VERSION}" -d "pg_ver ${PG_VERSION}"
    - rpmbuild -bb ./${CI_PROJECT_NAME}.spec
      --define "_topdir $(pwd)"
      --define "_sourcedir $(pwd)"
      --define "pg_ver ${PG_VERSION}"
      --define "version ${VERSION}"
    - mv ./RPMS/x86_64/*.rpm ${CI_PROJECT_DIR}/
    - echo "${GPG_KEY}" | gpg --import --batch
    - rpm --resign *.rpm
    - !reference [.check-rpm, script]
  artifacts:
    name: pg-nats
    paths:
      - "*.rpm"
      - "TRIVY-*.html"
    reports:
      junit:
        - "TRIVY-*.xml"
  parallel:
    matrix:
      - OS_VER:
          - "rocky9"
          - "redos8"
          - "rocky8"
          - "redos7"
        PG_VERSION:
          - "15"

buildALSE:
  stage: build
  image: ${HARBOR_HOST}/build/alse${ALSE_VER}:debBuild
  variables:
    TRIVY_SFX: alse-${ALSE_VER}
    DEB_BUILD_OPTIONS: "noautodbgsym"
    REVISION: 2
  before_script:
    - ln -s pkgBuild/debian${ALSE_VER} debian
    - if [[ ${ALSE_VER} == "1.7" ]];
      then
        echo "deb [ trusted=yes ] https://katello.spb.luxms.com/pulp/content/Luxms/Library/custom/postgrespro-std/pgpro15-alse1_7 ${ALSE_VER}_x86-64 main" >> /etc/apt/sources.list.d/pgdg.list;
        echo "deb [ trusted=yes ] https://katello.spb.luxms.com/pulp/content/Luxms/Library/custom/postgrespro-ent/pgpro15-alse1_7 ${ALSE_VER}_x86-64 main" >> /etc/apt/sources.list.d/pgdg.list;
        echo "deb [ trusted=yes ] https://katello.spb.luxms.com/pulp/content/Luxms/Library/custom/postgres/alse1_7-pgdg-15 buster-pgdg main" >> /etc/apt/sources.list.d/pgdg.list;
      else
        echo "deb [ trusted=yes ] https://katello.spb.luxms.com/pulp/content/Luxms/Library/custom/postgrespro-std/pgpro15-alse1_8 ${ALSE_VER}_x86-64 main" >> /etc/apt/sources.list.d/pgdg.list;
        echo "deb [ trusted=yes ] https://katello.spb.luxms.com/pulp/content/Luxms/Library/custom/postgrespro-ent/pgpro15-alse1_8 ${ALSE_VER}_x86-64 main" >> /etc/apt/sources.list.d/pgdg.list;
      fi
    - apt update
    - echo yes | mk-build-deps -ri -t "apt -o=Debug::pkgProblemResolver=yes --no-install-recommends --no-install-suggests"
    - curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
    - source $HOME/.cargo/env
    - echo "${GPG_ALSE}" | gpg --batch --import
    - echo "${GPG_ALSE_PASS}">GPG_PASS
    - !reference [ .gen-trivy-scan-script, script ]
  script:
    - dch -m -v "${VERSION}-${REVISION}~alse${ALSE_VER}" "All latest updates"
    - debuild -eVERSION -eCI -us -uc -b
    - mv ../pg*.deb ./
    - echo "========================= Check DEB ========================="
      && for pkg in pg*.deb; do dpkg -I $pkg; dpkg -c $pkg; done
  artifacts:
    name: pgsql-http-deb
    paths:
      - pg*.deb
      - TRIVY-*.html
    reports:
      junit:
        - TRIVY-*.xml
  parallel:
    matrix:
      - ALSE_VER:
          - '1.7'
          #- '1.8'