Source: pgsql-nats
Section: database
Priority: optional
Maintainer: Luxms Package Manager <repo@luxms.com>
Build-Depends: debhelper (>= 12), curl, pkg-config, unzip, libcurl4-openssl-dev, postgresql-server-dev-15, postgrespro-std-15-dev, postgrespro-ent-15-dev
Standards-Version: 10.0.0
Homepage: https://github.com/luxms/pgnats/

Package: pgsql15-nats
Architecture: amd64
Depends: ${shlibs:Depends}, postgresql-15
Description: NATS connect for PostgreSQL.

Package: pgpro13-nats
Architecture: amd64
Depends: ${shlibs:Depends}, postgrespro-std-15-server
Description: NATS connect for PostgreSQL.

Package: pgpro15ent-nats
Architecture: amd64
Depends: ${shlibs:Depends}, postgrespro-ent-15-server
Provides: pgpro13-nats (= ${binary:Version})
Description: NATS connect for PostgreSQL.
