#!/usr/bin/make -f
export DH_VERBOSE = 1

URL="https://github.com/luxms/pgnats/archive/refs/heads/main.zip"
GPG_OPTIONS := --batch --pinentry-mode loopback --passphrase-file GPG_PASS --default-key=08C82543B30BE336

PGCONFIG_pgsql15-http := /usr/lib/postgresql/15/bin/pg_config
PGCONFIG_pgpro15-http := /opt/pgpro/std-15/bin/pg_config
PGCONFIG_pgpro15ent-http := /opt/pgpro/ent-15/bin/pg_config
PGCONFIG_jatoba4-http := /usr/jatoba-4/bin/pg_config

PKG_LIST := $(foreach pkg,$(shell dh_listpackages), $(shell if [ -f $(PGCONFIG_$(pkg)) ] ; then echo $(pkg); fi))

define \n


endef

override_dh_prep:
	if [ ! -f "src/Makefile" ]; then curl -sLO $(URL); unzip main.zip; mv pgnats-main src; fi

override_dh_strip:
	dh_strip
	$(if $(filter true,$(CI)),\
		find debian/ -type f -name pgnats.so > elf_files.list;\
	  if [ -f elf_files.list ]; then bsign -s -E --pgoptions="$(GPG_OPTIONS)" -f elf_files.list ; bsign -c -E -f elf_files.list; fi \
	,)

override_dh_auto_install:
	cd src \
	/root/.cargo/bin/cargo install cargo-pgrx --version `cat .cargo-pgrx-version` --locked
	$(foreach pkg,$(PKG_LIST), \
		/root/.cargo/bin/cargo pgrx init --pg13 $(PGCONFIG_$(pkg)) \
		/root/.cargo/bin/cargo pgrx package --pg-config $(PGCONFIG_$(pkg)) \
		&& $(if $(filter true,$(CI)),./trivy-scan.sh src $(pkg),:) \
		&& mv target/release/pgnats-pg13 ../debian/$(pkg) \
		${\n} \
	)


%:
	dh $@ --srcdirectory=src $(foreach pkg,$(PKG_LIST), -p$(pkg) )
