Source: pgsql-http
Section: database
Priority: optional
Maintainer: Luxms Package Manager <repo@luxms.com>
Build-Depends: debhelper (>= 12), quilt, curl, libcurl4-openssl-dev, postgresql-server-dev-15, postgrespro-std-15-dev, postgrespro-ent-15-dev
Standards-Version: 1.5.0
Homepage: https://github.com/pramsey/pgsql-http/

Package: pgsql15-http
Architecture: amd64
Depends: ${shlibs:Depends}, postgresql-15
Description: HTTP client for PostgreSQL, retrieve a web page
	from inside the database.

Package: pgpro15-http
Architecture: amd64
Depends: ${shlibs:Depends}, postgrespro-std-15-server
Description: HTTP client for Postgres Pro Standard, retrieve a web page
	from inside the database.

Package: pgpro15ent-http
Architecture: amd64
Depends: ${shlibs:Depends}, postgrespro-ent-15-server
Provides: pgpro15-http (= ${binary:Version})
Description: HTTP client for Postgres Pro Enterprise, retrieve a web page
	from inside the database.